---
http_interactions:
- request:
    method: get
    uri: http://wcf.tourinsoft.com/Syndication/anmsm/817bee9d-faf4-4680-9d05-e41c2c90ae5a/$metadata
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml;charset=utf-8
      Dataserviceversion:
      - 1.0;
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\" standalone=\"yes\"?>\r\n<edmx:Edmx
        Version=\"1.0\" xmlns:edmx=\"http://schemas.microsoft.com/ado/2007/06/edmx\">\r\n
        \ <edmx:DataServices xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"
        m:DataServiceVersion=\"1.0\">\r\n    <Schema Namespace=\"TourInSoft.V5.Syndication.Syndication_DiffusionDonneesStationsHiver_0F2786229CE5455BA4EE92DFE8BAEFA7\"
        xmlns:d=\"http://schemas.microsoft.com/ado/2007/08/dataservices\" xmlns:m=\"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata\"
        xmlns=\"http://schemas.microsoft.com/ado/2008/09/edm\">\r\n      <EntityType
        Name=\"SyndicObject\">\r\n        <Key>\r\n          <PropertyRef Name=\"SyndicObjectID\"
        />\r\n        </Key>\r\n        <Property Name=\"SyndicObjectID\" Type=\"Edm.String\"
        Nullable=\"false\" MaxLength=\"128\" Unicode=\"true\" FixedLength=\"false\"
        />\r\n        <Property Name=\"Published\" Type=\"Edm.DateTime\" Nullable=\"false\"
        m:FC_TargetPath=\"SyndicationPublished\" m:FC_ContentKind=\"text\" m:FC_KeepInContent=\"True\"
        />\r\n        <Property Name=\"Updated\" Type=\"Edm.DateTime\" Nullable=\"false\"
        m:FC_TargetPath=\"SyndicationUpdated\" m:FC_ContentKind=\"text\" m:FC_KeepInCon[...]
[...]
